<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bb.hbx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <service -->
    <!-- android:name="com.baidu.location.f" -->
    <!-- android:enabled="true" -->
    <!-- android:process=":remote" > -->
    <!-- <intent-filter> -->
    <!-- <action android:name="com.baidu.location.service_v2.2" > -->
    <!-- </action> -->
    <!-- </intent-filter> -->
    <!-- </service> -->

    <meta-data
        android:name="com.bb.hbx.utils.MyGlideModule"
        android:value="GlideModule" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitiy.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activitiy.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitiy.RegisteActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitiy.WithdrawActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitiy.GetPswActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitiy.ResetPswActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitiy.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitiy.PerInsuOrderActivity" />
        <activity android:name=".activitiy.PerOrderDetailActivity" />
        <activity android:name=".activitiy.MyAssertActivity" />
        <activity android:name=".activitiy.CashActivity" />
        <activity android:name=".activitiy.AddBankCardActivity" />
        <activity android:name=".activitiy.SettlementActivity" />
        <activity android:name=".activitiy.AllIncomeActivity" />
        <activity android:name=".activitiy.ScoreActivity" />
        <activity android:name=".activitiy.RedPacketActivity" />
        <activity
            android:name=".activitiy.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activitiy.PwdLoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activitiy.PersonInfoSettingActivity" />
        <activity android:name=".activitiy.EditNameActivity" />
        <activity android:name=".activitiy.SexActivity" />
        <activity android:name=".activitiy.AddressManagerActivity" />
        <activity android:name=".activitiy.BuildNewAddressActivity" />
        <activity android:name=".activitiy.PurchaseDetailActivity" />
        <activity android:name=".activitiy.HomeActivity" />
        <activity android:name=".activitiy.RealNameIdentifyActivity" />
        <activity android:name=".activitiy.RealNameCommitActivity" />
        <activity android:name=".activitiy.RealNameFinishActivity" />
        <activity android:name=".activitiy.SetPayPwdActivity" />
        <activity android:name=".activitiy.EditEmailActivity"></activity>

        <activity
            android:name=".activitiy.ProductDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>